[Unit]
Description=To dump the new from specify websit.

[Service]
Type=simple
ExecStart=/usr/local/bin/newsdumper -o /var/newsdumper/ -tF

[Install]
WantedBy=default.target